<main>
  <div class="container">
    <div class="row d-flex mx-auto justify-content-center mt-4">
      <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
        <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
        <a href="#!">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="row">
        <div class="col d-flex justify-content-start pt-4">
          <h4><strong>Just a blog</strong></h4>
        </div>
        <!-- new post path -->
        <div class="new-post">
          <%= link_to "New Post", new_post_path %>
        </div>
      </div>
    </div>
    <hr class="mb-4"/>
    <!-- iterate thru the block -->
    <div class="row">
      <div class="col-8 mx-auto">
        <% @posts.each do |post| %>
          <div class="card my-4">
            <div class="row">
              <div class="col">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light" >
                  <% if post.image.attached? %>
                    <div class="img-fluid">
                      <%= image_tag(post.image, width: "50%", height: "50%") %>
                    </div>
                  <% else %>
                    <p>No image attached</p>
                  <% end %>
                </div>
              </div>
              <div class="col">
                <div class="d-flex justify-content-start">
                  <div class="py-2">
                    <h4><%= link_to post.title, post, class: "text-decoration-none text-black" %></h4>
                  </div>
                </div>
                <div class="py-2">
                  <p><%= truncate post.description %></p>
                </div>
              </div>
              <!-- <div class="row">
                <div class="col d-flex justify-content-center p-4">
                  <%= link_to 'edit', edit_post_url(post), class: "btn btn-primary" %>
                  <%= link_to 'show', post_path(post), class: "btn btn-primary" %>
                </div>
              </div> -->
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
