<main>
  <div class="container">
    <section class="text-center">
      <div class="card bg-white mb-4">
        <div class="row">
          <div class="col">
            <strong><h3 class="text-center p-4"><%= @post.title %></h3></strong>
          </div>
        </div>
        <!-- image -->
        <div class="row">
          <div class="rounded post-img mb-4">
            <% if @post.image.attached? %>
              <%= image_tag(@post.image, width: "65%", height: "400px") %>
            <% else %>
              <p>No image attached</p>
            <% end %>
          </div>
        </div>
        <!-- card body -->
        <div class="card-body">
          <hr>
          <!-- grid layout -->
          <div class="row">
            <div class="col-8 pt-4 pb-4">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-start">
                      <strong class="ml-2">Published <span class="font-italic"><%= time_tag @post.created_at, "data-local": "time-ago" %></span></strong>
                    </div>
                    <!-- admins_only -->
                    <% admins_only do %>
                      <ul class="actions">
                        <!-- edit post -->
                        <span><%= link_to "Edit Post", edit_admin_post_path(@post), class: "btn btn-primary m-2" %></span>
                        <span><%= button_to "Delete Post", admin_post_path(@post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %></span>
                      </ul>
                    <% end %>
                    <div class="p-4 text-monospace">
                      <p>African tech talent startup, TalentQL, has today, October 21, 2021, launched AltSchool Africa. The programme is the startup’s latest attempt to create a tech talent pipeline following the launch of Pipeline, it’s mentorship and upskilling program for senior developers.</p>
                    </div>
                  </div>
                </div>
                <!-- render comment form -->
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-start">
                      <%= render "comments/form", post: @post, width: "100%" %>
                    </div>
                  </div>
                </div>
                <!-- comments count -->
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-start">
                      <p class="px-4"><%= @post.comments.count %><strong class="px-2">Comments</strong></p>
                      <span><%= link_to "New Comment", new_post_comment_path(@post) %></span>
                    </div>
                  </div>
                </div>
                <!-- render comments -->
                <div class="row">
                  <div class="col">
                    <% @post.comments.each do |comment| %>
                      <div class="d-flex justify-content-start px-4 mx-4">
                        <div class="d-dlex flex-column py-2">
                          <%= comment.content %>
                          <span><%= button_to "Delete Comment", post_comment_path(@post, comment), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger"%></span>
                          <span><%= link_to "Edit Comment", edit_post_comment_path(@post, comment) %></span>
                          <div class="">
                            <span><strong>Posted by <span>user </span><%= time_tag comment.created_at, "data-local": "time-ago"%></strong></span>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4 pt-4 pb-4">
              <div class="container">
                <div class="row">
                  <div class="col">
                    <div class="d-flex justify-content-start">
                      <strong>Editor`s pick <span></span></strong>
                    </div>
                    <div class="p-4">
                      <p>As Africa’s tech ecosystem has grown, a number of organizations have sprung up to supply tech talent for startups. After an initial focus on building entry-level talent led by the likes of Andela, the demand for senior talent meant that for a while, training entry-level engineers took a backseat.</p>
                    </div>
                    <!-- author -->
                    <div class="card">
                      <div class="row">
                        <div class="d-flex justify-content-center pt-2">
                          <h5>About</h5>
                        </div>
                      </div>
                      <div class="row">
                        <div class="p-2 d-flex justify-content-center">
                          <p>image goes here</p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="px-4 d-flex justify-content-start">
                          <p class="text-muted">
                            Hey, my name is Alphan Kihara and I love Ruby.
                            This blog aims to walk with you through my journey of web development.
                            Here I document technologies as I learn them.
                            For any support or enquiries, hit me up on my socials, Thanks.
                          </p>
                        </div>
                      </div>
                      <div class="row">
                        <div class="px-2 pb-4 d-flex justify-content-center">
                          socials links go here
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
