<h2>Post</h2>
<div class="post">
  <div class="post-title">
    <strong>Title:</strong>
    <%= @post.title %>
  </div>
  <div class="post-description">
    <strong>Description:</strong>
    <%= @post.description %>
  </div>

  <div class="edit-post">
    <%= link_to "Edit Post", edit_post_path %>
  </div>

  <div class="delete-post">
    <%= link_to "Delete Post", post_path, method: :delete, data: {confirm: "Are you sure?"} %>
  </div>

  <div class="posts-path">
    <%= link_to 'posts', posts_path %>
  </div>
</div>
