<div class="">
  <div class="row">
    <div class="text-center post-img">
      <% if @post.image.attached? %>
        <%= image_tag(@post.image, width: "100%", height: "500px") %>
      <% end %>
    </div>
  </div>
  <div class=" pt-4 post-title">
    <h2><%= @post.title %></h2>
  </div>
  <div class="row">
    <div class="col">
      <div class="shadow-sm mt-4 mb-4 bg-white text-center pt-4">
        <p><%= @post.description %></p>
      </div>
      <div class="post-links">
        <!-- edit post -->
        <div class="edit-post">
          <%= link_to "Edit Post", edit_post_path %>
        </div>

        <!-- delete post -->
        <div class="delete-post">
          <%= link_to "Delete Post", post_path, method: :delete, data: {confirm: "Are you sure?"} %>
        </div>

        <!-- posts-path -->
        <!-- <div class="posts-path">
          <%= link_to 'posts', posts_path %>
        </div> -->
      </div>
    </div>
  </div>
  <div class="row">
    <!-- comment partial -->
    <div class="p-4 mt-4 pt-">
      <div class="render-comment-form">
        <!-- render comment partial -->
        <%= render "comments/form", post: @post %>
      </div>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-6 shadow-sm p-4 bg-white">
      <div class="text-center post-comments">
        <h3>Comments</h3>
        <div class="p-2 m-2 render-post-comments">
          <% @post.comments.each do |comment| %>
            <div class="comment-content">
              <%= comment.content %>
              <ul>
                <!-- <li><%= link_to "Show", post_comment_path(@post, comment) %></li> -->
                <p>Posted <%= time_tag comment.created_at, "data-local": "time-ago" %></p>
                <%= link_to "Edit", edit_post_comment_path(@post, comment), class: "m-4 btn btn-success" %>
                <%= link_to "Delete", post_comment_path(@post, comment), method: :delete, class: "btn btn-danger" %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>





  <!-- <div class="post-comment">
    <%= link_to "New Comment", new_post_comment_path(@post) %>
  </div> -->
