<!DOCTYPE html>
<html>
  <head>
    <title>ABlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-light bg-faded">
    <div class="navigation">
      <%= render "layouts/nav" %>
    </div>
    <div class="container mt-2">
      <div class="">
        <h1 class="text-center">atom</h1>
      </div>
      <div class="blog-name">
        <%= yield %>
      </div>
    </div>
    <div class="">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
